@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color:#2a2a2a;
    opacity: 0;
    transition: opacity 3s;
}

.hero {
    width: 100%;
    height: 100vh;

}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 200px;
    background-color: #f4637b;
}

.nav .link ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    list-style: none;
}

.nav .link ul a {
    text-decoration: none;
    color: #2a2a2a;
    font-weight: 600;
    transition: all 2000ms ease-in-out;
}

ul a .active {
    color: #f4637b;
}

.nav .link ul a:hover {
    color: #f4637b;
}

.main {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6rem;
    margin-top: 70px;
    color: #f4637b;

}
main .cynthia {
    width: 500px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    /* Set a maximum width if necessary */
}
/* CSS Styles */
.portfolio-content {
    text-align: center;
}

.pdf-link a {
            font-weight: bold;
            color: red;
        }
        /* CSS Styles */
        .project-title {
           text-decoration: underline;
            font-size: 40px; /* Adjust the font size as needed */
            font-weight: bold;
            position: absolute;
            top: 950px; /* Adjust the top position as needed */
            left: 10px; /* Adjust the left position as needed */
            color: White; /* Adjust the color as needed */
            z-index: 1; /* Ensure the title is above the image */
        }
        /* CSS Styles */
      .game-design-title {
          position: absolute;
          bottom: -880px; /* Adjust as needed */
          left: 10px; /* Adjust as needed */
          z-index: 1;
      }

      .game-design-title h3 {
          text-decoration: underline;
          font-size: 40px; /* Adjust the font size as needed */
          font-weight: bold;
          color: #ffffff; /* Adjust the color as needed */
          margin: 0;
      }


      .video-section {
          margin-top: 60px;
          margin-bottom: 60px; /* Add margin bottom to create space between projects */
      }


.web-design {
    margin-top: 50%; /* Adjust as needed */
}
.Web.design {
    position: relative;
    width: 900px; /* Adjust as needed */
}

.Web.design h5 {
    text-decoration: underline;
    position: absolute;
    bottom: 530px; /* Adjust as needed */
    left: -380px; /* Adjust as needed */
    margin: 0;
    font-size: 40px; /* Adjust as needed */
    font-weight: bold;
    color: #ffffff; /* Adjust as needed */
    z-index: 1;
}
